.Page{
	text-align:center;
	font-size:120%;
	border:10px solid blue;
}
#points{
	font-size: 150%;
	font-style: oblique;
	font-family: arial;
	color:#990033;
	color:green;
	text-align: right;
	position: absolute;
    top:40px;
    right: 500px;
}
#menu{
	/*border: thick solid #EDF0A3;*/
	border-right: 30px solid #EDF0A3;
	background-color:white;
	background-image:url("background");

}
#c{
	color:green;
	font-size:140%;
}

#r{
	color:blue;
	font-size:140%;
}

#t{
	font-size:140%;
}

#growgreen{
	font-family: 'Grand Hotel', cursive;
	color:#119620;
	font-size:500%;
}

h1{
	color:#ffffff;
	font-family: 'Grand Hotel', cursive;
}
.input{
	padding-right: 40%;
	padding-left: 40%;
}

p{
	font-family: 'Muli', sans-serif;
}

br{
	font-family: 'Muli', sans-serif;
}

/** {
    font-family: 'Muli', sans-serif; !important;
}*/

body .ui-body-c{
    font-family: 'Muli', sans-serif;
    font-size:200%;
}

.ui-header{
	font-size: 40px;
}

#custom-btn {
    width: 2px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background: url("Question.png") center center no-repeat;
}

#custom-btn span span {
    height: 10px !important;  
    line-height: 7px;