.Page{
	text-align:center;
	font-size:120%;
	border:10px solid blue;
}
#points{
	font-size: 150%;
	font-style: oblique;
	font-family: arial;
	color:#990033;
	color:green;
	text-align: right;
	position: absolute;
    top:40px;
    right: 500px;
}
#menu{
	/*border: thick solid #EDF0A3;*/
	border-right: 30px solid #EDF0A3;
	background-color:white;
	background-image:url("background");

}
#c{
	color:green;
	font-size:140%;
}

#r{
	color:blue;
	font-size:140%;
}

#t{
	font-size:140%;
}
h1{
	font-family: 'Grand Hotel', cursive;
	color:#119620;
	font-size:500%;
}
